@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.page_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $base-color-white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;

  &__title__wrapper {
    opacity: 0.7;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-family: 'Marck Script', cursive;
    color: $ninja-yellow;
    font-size: 84px;
    overflow-x: hidden;
    height: 100px;
    white-space: nowrap;
    display: inline-block;
    animation: type 1s steps(5, end);
    user-select: none;
    -webkit-user-select: none;

    @keyframes type {
      from {
        width: 0;
      }

      to {
        width: 100%;
      }
    }
  }
}