@import '../../../../utils/mixins.scss';
@import '../../../../utils/vars.scss';

.dashboard__stats {
  height: 100%;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;

    &__button {
      margin-bottom: 15px;
    }

    &__info {
      &__title {
        @include default-font-style;
        font-size: 28px;
        color: $main-font-color;
      }

      &__time {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #ABBBC2;
        padding-bottom: 24px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;

    margin: 24px 0;

    &__item {
      border-radius: 8px;
      width: 190px;
      height: 100%;
      background-color: $bg-white;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;

      @media (max-width: 543px) {
        margin: 0 auto;
      }

      &__percent {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &__logo {
          width: 38px;
          height: 38px;
          background: rgb(89, 119, 174);
          border-radius: 8px;
          margin-right: 12px;

          &__dollar {
            background-image: url('../../../../images/logos/dollar-sign.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
          }

          &__bookmark {
            background-image: url('../../../../images/logos/bookmark.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
          }

          &__people {
            background-image: url('../../../../images/logos/people.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
          }

          &__people {
            background-image: url('../../../../images/logos/people.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
          }

          &__people {
            background-image: url('../../../../images/logos/people.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
          }

          &__increasing__trend {
            background-image: url('../../../../images/logos/increasing-trend.svg');
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
          }
        }

        &__direction {
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: rgba(136, 216, 224, 0.2);

          &_down {
            background-color: rgba(255, 100, 113, 0.24);
          }

          &__arrow {
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;

            &_down {
              background-image: url('../../../../images/logos/arrow-down.svg');
            }

            &_up {
              background-image: url('../../../../images/logos/arrow-up.svg');
            }
          }
        }

        &__value {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          margin-right: 6px;

          color: #50D1AA;
        }
      }

      &__total {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 140%;
        color: $main-font-color;
        width: 135px;
        height: 39px;
      }

      &__title {

        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: $main-font-color-light;
      }
    }
  }
}

.dashboard__order_report {
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  background-color: $bg-white;
  // max-height: 100%;
  border-collapse: collapse;
  margin-bottom: 28px;
  position: relative;

  &_wrapper {
    height: 100%;
    padding: 28px 18px 0 18px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      color: $main-font-color;
    }

    &__filter_order {
      height: 32px;
      width: 80px;
      color: $main-font-color;
      background-color: $bg-white;
      border: 1px solid $border-color;

      border-radius: 8px;
      padding: 9px 12px 8px 30px;

      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      cursor: pointer;


      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 130%;

      &_wrapper {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 30%;
          left: 12px;
          transform: translateX(-50%);
          pointer-events: none;

          display: block;

          width: 2px;
          height: 2px;

          border: solid $main-font-color;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }
  }
}

.dashboard__table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  margin: 25px 0;
  font-size: 12px;
  position: relative;
  min-width: max-content;
  border-collapse: separate;

  &__fixed {
    overflow-y: scroll;
    max-height: 60vh;

    position: relative;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

    /* IE 10+ */
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__head {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: $main-font-color;
    text-align: left;
    font-weight: bold;
    background-color: #1F1D2B;

    &__row {
      border-bottom: 1px solid $border-color;

      &__item {
        padding: 12px 15px;
        padding-top: 0;
        position: sticky;
        top: 0;
        background-color: $bg-white;
      }
    }
  }

  &__body {
    &__row {
      // border-bottom: 1px solid #dddddd;

      &__item {
        padding: 12px 15px;

        &__wrapper {
          display: flex;
          align-items: center;
          gap: 12px;
        }

        &__avatar {
          &__img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
        }

        &__name {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          color: $main-font-color;
        }

        &__menu {
          &__name {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: $main-font-color;
          }
        }

        &__payment {
          &__total {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: $main-font-color;
          }
        }

        &__status {
          &__circle {
            padding: 4px 12px;
            background: rgba(107, 226, 190, 0.24);
            border-radius: 30px;
            width: 80px;
            display: flex;
            justify-content: center;

            &__text {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              color: #474747;
            }
          }
        }
      }

    }
  }
}

.container {
  height: 100%;
}