@import '../../../../utils/vars.scss';
@import '../../../../utils/mixins.scss';

.info {
  height: 100%;
  grid-column: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.order__info {
  border-radius: 8px;
  background-color: $bg-white;
  padding: 24px;
  padding-bottom: 0;
  padding-top: 0;
  // height: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid $border-color;

    &__title {
      color: $main-font-color;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0em;
      white-space: nowrap;
    }

    &__select {
      color: $main-font-color;
      background-color: $bg-white;
      border: 1px solid $border-color;

      border-radius: 8px;
      padding: 11px 0 11px 40px;

      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      cursor: pointer;

      font-style: normal;
      font-weight: 500;
      font-size: 12px;

      &__wrapper {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 30%;
          left: 15px;
          transform: translateX(-50%);
          pointer-events: none;

          display: block;

          width: 3px;
          height: 3px;

          border: solid $main-font-color;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }

      &::-ms-expand {
        display: none;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 27px;
    }

    &__button {
      align-self: center;
      width: 80%;
      height: 40px;

      background-color: transparent;
      border-radius: 8px;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      border: 1px solid $main-orange;
      color: $main-orange;
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }

}

.item__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: row;

    &__image {
      width: 60px;
      height: 60px;
      background: url('../../../../images/food_photos/foodPhoto.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      border-radius: 50%;

      margin-right: 14px;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 7px;

      &__title {
        color: $main-font-color;
      }

      &__price {
        color: gray;
      }
    }

  }

  &__right {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 7px;

    &__quantity {
      color: $main-font-color;

      &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 14px 12px;

        width: 1.5rem;
        height: 1.5rem;

        background: #2D303E;

        border: 1px solid #393C49;
        border-radius: 8px;

        margin-right: 33px;
      }
    }

    &__price {
      width: 43px;
      height: 22px;


      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;

      color: $main-font-color;
      // margin-right: 40px;
    }
  }
}

.global__info {
  border-radius: 8px;
  background-color: $bg-white;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    padding: 10px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;

    &__title {
      color: $main-font-color;

      font-size: 1.625rem;
      font-weight: 600;
      letter-spacing: 0em;
    }

    &__select {
      color: $main-font-color;
      background-color: $bg-white;
      border: 1px solid $border-color;

      border-radius: 8px;
      padding: 8px 8px 8px 32px;

      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      cursor: pointer;


      font-style: normal;
      font-weight: 500;
      font-size: 0.875rem;

      &__wrapper {
        position: relative;
        // margin-right: 35px;

        &::before {
          content: '';
          position: absolute;
          top: 38%;
          left: 0.9375rem;
          transform: translateX(-50%);
          pointer-events: none;

          display: block;

          width: 0.1875rem;
          height: 0.1875rem;

          border: solid $main-font-color;
          border-width: 0 0.1875rem 0.1875rem 0;
          display: inline-block;
          padding: 0.1875rem;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }

      &::-ms-expand {
        display: none;
      }
    }
  }

  &__main {

    &__wrapper {
      padding: 32px 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      margin: auto 0;
    }

    &__graph {
      background-color: #65B0F6;
      min-width: 150px;
      min-height: 150px;
      max-width: 500px;
      max-height: 500px;
      border-radius: 50%;
      // margin: 0 auto;

      // @media (max-width: 600px) {
      //   width: 200px;
      //   height: 200px;
      // }

      // @media (max-width: 466px) {
      //   height: 150px;
      //   width: 150px;
      // }

      // @media (max-width: 366px) {
      //   height: 100px;
      //   width: 100px;
      // }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 16px;
      padding-bottom: 16px;
      gap: 48px;

      &__wrapper {
        display: flex;
      }

      &__circle {
        width: 18px;
        height: 18px;
        border-radius: 50%;

        &__pink {
          background-color: #FF7CA3;
        }

        &__yellow {
          background-color: #FFB572;
        }

        &__blue {
          background-color: #65B0F6;
        }
      }

      &__text {
        margin-left: 14px;
        display: flex;
        flex-direction: column;

        &__title {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          color: $main-font-color;
        }

        &__description {
          margin-top: 10px;

          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          color: #878d90;
        }
      }
    }
  }
}