@import '../../../../utils/mixins.scss';
@import '../../../../utils/vars.scss';

.menu {
  display: flex;
  padding: 24px;
  flex-direction: column;

  &__contents {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }


  &__title {
    height: 28px;
    color: $main-font-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    white-space: nowrap;
  }

  &__select {
    color: $main-font-color;
    border: 1px solid $border-color;

    border-radius: 8px;
    padding: 0.9375rem 1.25rem 0.9375rem 2.5rem;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;

    &__wrapper {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 35%;
        left: 12px;
        transform: translateX(-50%);
        pointer-events: none;

        display: block;

        width: 1px;
        height: 1px;

        border: solid $main-font-color;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }

    &::-ms-expand {
      display: none;
    }
  }

  &__portfolio {
    width: 100%;
    // padding: $gutter / 2;
    display: grid;
    // flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;

    @media (max-width: 620px) {
      grid-template-columns: auto;
      
    }

    @media (min-width: 621px) and (max-width: 840px) {
      grid-template-columns: auto auto;
    }

    @media (min-width: 841px) and (max-width: 1280px) {
      grid-template-columns: auto auto auto;
    }

    @media (min-width: 1281px) {
      grid-template-columns: auto auto auto auto;
    }
  }

  &__message {
    display: flex;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    flex-direction: column;
    gap: 40px;

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0em;
      color: $main-font-color;
      text-align: center;
    }

    &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0em;
      color: $main-font-color;
      text-align: center;
    }
  }

  &__slider {
    display: flex;
    gap: 20px;

    &__container {
      padding: 0 10px;
    }
  }

  &__functional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 10px;

    &__text {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      color: #000;
      white-space: nowrap;
      margin-bottom: auto;

      @include onMobileMini {
        font-size: 20px;
      }
    }

    &__selectors {
      display: flex;
      gap: 20px;
    }
  }
}

.loader__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.select_wrapper {
  // width: 80px;
}