.burger_menu_button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url(../../images/logos/burger-menu.svg);
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: cover;
}