@import './utils/vars.scss';
@import './utils/sidebar__utils/sidebar__vars.scss';

#root {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Manrope', 'ComicSans' !important;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  background-color: $base-color-white;
  width: 100%;
  position: relative;

  font-family: 'Barlow', sans-serif;

  &__content {
    padding: 70px 0 0 0;

    @include onDesktop {
      padding: 70px 0 0 68px;
    }

    @include is1024 {
      padding: 70px 0 68px 0;
    }

    &__no_padding {
      padding: 70px 0 0;
    }

    &_settings {
      max-height: 100vh;
      overflow: hidden;

      @media (max-width: 1200px) {
        max-height: 100%;
        overflow: auto;
      }

      @media (max-height: 700px) {
        max-height: 100%;
        overflow: auto;
      }
    }
  }
}