@import './utils/vars.scss';
@import './utils/sidebar__utils/sidebar__vars.scss';

#root {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Barlow', sans-serif;
}

body {
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  background-color: #fff;
  width: 100%;
  position: relative;

  &__content {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    @include onDesktop {
      padding: 70px 0 0 68px;
    }

    @include is1024 {
      padding: 70px 0 68px 0;
    }
  }
}